{% extends 'base.html.twig' %}
{% block title %}
	Colliseum
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link href="{{asset('style.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
<h1 class="text-center text-white mt-4 pt-4 display-1 fw-bold fst-italic">
	Colliseum
</h1>
</br>
<h4 class="text-center">Sport</h4>
<div class="card-group d-flex justify-content-center">
	{% for categorie in categories %}
		<div class="card-group">
			<div class="card mx-2 mb-3">
				<h5 class="card-title text-center" style="font-weight: bold; color: #555;">
					<a href="{{path("app_categorie",{'Categorie':categorie.id})}}" class="text-decoration-none">{{categorie.nomCategorie}}</a>
				</h5>
				{% set nom = 'images/categorie/' ~ categorie.imageCategorie %}
				<a href="{{path("app_categorie",{'Categorie':categorie.id})}}" class="text-decoration-none">
					<div class="image-container" style="width:250px; height: 250px; display: flex; justify-content: center; align-items: center; background-color: white;">
						<img src="{{ asset(nom) }}" style="width: 250px; height: 250px; object-fit: contain; margin-bottom: 0px;">
					</div>
				</a>


			</div>
		</div>
	{% endfor %}
</div>
</br>
<div style="width: calc(100% - 320px); height: 2px; background-color: #ccc; margin: 20px 160px;"></div>
<h4 class="text-center">Marques</h4>
<div class="card-group d-flex justify-content-center">
	{% for marque in marques %}
		<div class="card-group">
			<div class="card mx-2 mb-3">
				{% set nom = 'images/marque/' ~ marque.imageMarque %}
				<a href="{{path("app_marque",{'Marque':marque.id})}}" class="text-decoration-none">
					<div class="image-container" style="width: 250px; height: 250px; display: flex; justify-content: center; align-items: center; background-color: white;">
						<img src="{{ asset(nom) }}" style="max-height: 100%; max-width: 100%; width: 250px; height: 250px; object-fit: contain; border-radius: 8px;">
					</div>
				</a>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}
