{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Liste des Produits
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">
			Liste des Produits</h1>
		<div class="row justify-content-center">
			<div class="col-12 col-md-8 bg-white p-4 m-0 text-primary">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr class="fw-bold text-primary">
								<th scope="col">image</th>
								<th scope="col">Nom</th>
								<th scope="col">Prix</th>
								<th scope="col">Stock</th>
								<th scope="col">Type</th>
								<th scope="col">Date d'envoi</th>
							</tr>
						</thead>
						<tbody>
							{% for produit in produits |sort((a, b) =>
b.dateEnvoi <=> a.dateEnvoi) %}

								<tr class="{{ cycle(['table-primary', 'table-secondary'], loop.index0) }}">

									<td>
										{% if produit.image %}
											{% set nom = 'images/' ~ produit.image %}
											<img src="{{asset(nom)}}" class="card-img-top img-thumbnail rounded mx-auto d-block img" alt="..." width="25">
										{% endif %}
									</td>
									<td>{{ produit.nom |

capitalize }}</td>
									<td>{{ produit.prix |
capitalize }}</td>
									<td>{{ produit.stock}}</td>
									<td>{{ produit.type | lower }}</td>

									<td>{{ produit.dateEnvoi |
date("d-m-Y à H:i:s") }}</td>

								</tr>
							{% endfor %}
						</tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>{% endblock %}
