{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Liste des Marques
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<h1 class="text-center text-white mt-4 pt-4 display-1 fw-bold">
			Liste des Marques</h1>
		<div class="row justify-content-center">
			<div class="col-12 col-md-8 bg-white p-4 m-0 text-white">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr class="fw-bold text-white">
								<th scope="col">Image Marques</th>
								<th scope="col">Nom</th>
								<th scope="col"></th>
								<th scope="col"></th>
								<th scope="col"></th>

							</tr>
						</thead>
						<tbody>
							{% for marque in marques |sort((a, b) =>
a.nomMarque <=> b.nomMarque) %}
								<tr class="{{ cycle(['table-primary', 'table-secondary'], loop.index0) }}">
									<td>
										{% if marque.imageMarque %}
											{% set nom = 'images/marque/' ~ marque.imageMarque %}
											<div class="image-container" style="width: 200px; height: 200px; display: flex; justify-content: center; align-items: center; background-color: white;">
												<img src="{{ asset(nom) }}" style="max-height: 100%; max-width: 100%; object-fit: contain;">
											{% endif %}
										</td>
									</td>
									<td>
										{{ marque.nomMarque |
capitalize }}</td>
									<td>
										<a href="{{path("app_modifier_marque",{'id':marque.id})}}">
											<i class="bi bi-pen-fill text-white"></i>
										</a>
									</td>
									<td>
										<a href="{{path("app_supprimer_marque",{'id':marque.id})}}">
											<i class="bi bi-trash-fill text-white"></i>
										</a>
									</td>
									<td>
										<a href="{{path('app_telechargement_marque',{'id':marque.id})}}" style="text-decoration: none">
											<i class="bi bi-download" style="color: white;"></i>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
